:root {
  --light-color: #fff;
  --light-accent-color: #3e8bff;
  --accent-color: #3d68ed;
  --dark-accent-color: #2248bb;
  --orange-color: #ffa500;
  --light-gray-color: #f9f9f9;
  --gray-color: #f2f2f2;
  --medium-gray-color: #e7e7e7;
  --dark-gray-color: #a4a4a4;
  --dark-color: #383838;
  --light-red-color: #f14646;
  --red-color: #e24c4c;
  --dark-red-color: #b02c2c;
  --green-color: #26ab5b;
}
